<% layout( '../layout.ejs' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<link rel="stylesheet" href="style.css">
*** The Fields will retain its previous values if left Empty
<div id="hrr" >
	<form action="/user/updatesave" align=Left  method="post" accept-charset="utf-8" align=center>
	 <fieldset>
	  <p>
	   <b>username:</b><input type="text" size="100" placeholder="Mandatory username...." name="username" />
	  <%=user.username%> 
	  </p>
	 
	   <p>
	   <b>userPrice:</b><input type="number" size="10" name="userPrice" placeholder=" userPrice..."/>
	  <%=user.userPrice%>
	  </p>  
	 	  <input type="hidden"  name="usernumber" id="usernumber" value=<%=user.usernumber %> />
	  <p>
	   <b>timings :</b><input type="text" size="10" name="timings" />
	  <%=user.timings%> 
	  </p>
	  
	  <b>startDate:</b><input type="date"  id="datepicker1"  name="startDate" />
	  <%=user.startDate%> 
	 </p>
	 <p> <b>address :</b></p>
	  <textarea rows="8" cols="100" name="address" placeholder="Enter address here..."></textarea>
	  address (1000 chars)
	  </p>
	 <input type="submit", value="Submit" />
</div>





<script>
    <% script('/scripts/custom/registervendor.js') %>
	
</script>